:root{
    --black: #3E3939;
    --red: #DC2F02;
}
html body{
    background-color: var(--red);
    height: 100dvh;
}
a{
    text-decoration: none;
    cursor: pointer; /* Para links sem href */
}
a:hover{
    text-decoration: underline;
    color: rgb(0, 255, 255);
}
.logo{
    width: 55px;
    height: 55px;
}
.bg-custom-black{
    background-color: var(--black) !important;
}
.bg-custom-red{
    background-color: var(--red) !important;
}
.border-custom-black{
    border-color: var(--black) !important;
}
.input-group{
    margin-bottom: 1.1rem;
}
.form-control{
    padding-left: 0.8rem;
    border: 2px;
    border-color: var(--black);
}




.disable{
    pointer-events: none !important;
}

.icon-foto{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.border-radius-none{
    border-radius: 0px !important;
}
.alert{
    position: fixed;
    z-index: 1000;
    top: 2rem;
    right: 1rem;
    left: 1rem;
    text-align: center;
    margin: 0rem;
    margin-top: 1rem;
}
.display-none{
    display: none;
}
.exercicio-imagem{
    width: 100%;
    height: 100%;
    height: 20rem;
    object-fit: fit; 
    /* Preenche a imagem dentro da div */
    /* O contain também é legal */
}
.disabled{
    pointer-events: none;
}
.span-senhas{
    border-left: none !important;
}
.input-senha{
    border-right: none !important;
}
.chat-icone{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.mini-screen{
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
    scrollbar-width: none;
}