html body{
    background-color: #DC2F02 !important;
}
.background-black{
    background-color: #3E3939 !important;
}
.background-red{
    background-color: #DC2F02 !important;
}
.text-cyan{
    color:#04F0FF !important;
}
.disable{
    pointer-events: none !important;
}
.btn-border{
    border-radius: 0.5rem !important;
}
.border-black{
    border-color:#3E3939 !important;
}
.icon-foto{
    border-radius: 50%;
}
.border-radius-none{
    border-radius: 0px;
}